<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style >
header{
	background-color:rgb(200,200,200);
	min-height:10%;
}	
body{
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.book{
	border-style:solid;
}
</style>

</head>

<header>

</header>
<div>
<div class='col-md-8 '>
<h1 style='display:inline;'>Hello <%= name%>,</h1><br>
<h1 style='display:inline;'>POINTS:<%= points%></h1>

</div>

<div class='col-md-4'>
<a href='/ask/<%= name %>' style='margin-top:20px;' class='btn btn-danger'>Ask for cards</a>
</div>
</div>
<div>
<% for(var i=0;i<bookrequest.length;i++){%>
		<div class="book col-md-6">
		<h3><%= bookrequest[i].bookName %> </h3>
		<img  style='float:left;display:block;padding-bottom:5px;' src='<%= bookrequest[i].bookicon %>'>
		<p><%= bookrequest[i].bookDesc %></p>
		<a class='btn btn-primary' href='/book/<%= bookrequest[i]._id%>/<%= id%>/'  id='book<%= i%>'>Trade</a>
		</div>
<%}%>
</div>




